<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @survey_file.id %>
</p>

<p>
  <b>Survey File:</b>
  <%= @survey_file.Surv_File %>
</p>

<p>
  <b>Official Name:</b>

</p>

<p>
  <b>Feature Type:</b>

</p>

<p>
  <b>Province:</b>

</p>

<p>
  <b>Secondary Name:</b>
  <%= @survey_file.Location_second %>
</p>

<p>
  <b>Mapsheet:</b>

</p>

<p>
  <b>Street Location:</b>
  <%= @survey_file.Strt_loc %>
</p>

<p>
  <b>Latitude:</b>

</p>

<p>
  <b>Longitude:</b>

</p>

<p>
  <b>Named:</b>
  <%= @survey_file.Object_Nm %>
</p>

<p>
  <b>Department Contact:</b>
  <%= @survey_file.Dept_Contact %>
</p>

<p>
  <b>Department Telephone:</b>
  <%= @survey_file.Dept_tel %>
</p>

<p>
  <b>Department Abbreviation:</b>
  <%= @survey_file.Dept_Abbr %>
</p>

<p>
  <b>Department Secondary:</b>
  <%= @survey_file.Dept_Sec %>
</p>

<p>
  <b>Project Man:</b>
  <%= @survey_file.Proj_Man %>
</p>

<p>
  <b>Sigma:</b>
  <%= @survey_file.Sigma %>
</p>

<p>
  <b>EDRM Number:</b>
  <%= @survey_file.EDRM_No %>
</p>

<p>
  <b>CR File:</b>
  <%= @survey_file.CR_File %>
</p>

<p>
  <b>Project Number:</b>
  <%= @survey_file.Proj_Num %>
</p>

<p>
  <b>SSA Number:</b>
  <%= @survey_file.SSA_Num %>
</p>

<p>
  <b>SSA Amount:</b>
  <%= @survey_file.SSA_Amount %>
</p>

<p>
  <b>Financial Code:</b>
  <%= @survey_file.Fin_Code %>
</p>

<p>
  <b>Bulk Number:</b>
  <%= @survey_file.Bulk_Num %>
</p>

<p>
  <b>Description:</b>
  <%= @survey_file.Descript %>
</p>

<p>
  <b>Remark:</b>
  <%= @survey_file.Remark %>
</p>

<p>
  <b>Start Date:</b>
  <%= @survey_file.Strt_Date %>
</p>

<p>
  <b>Completed Date:</b>
  <%= @survey_file.Cmpl_Date %>
</p>

<% if @survey_file.id > 1 %>
<%= link_to '<< Previous', :id => (@survey_file.id-1) %> |
<% end %>
<%= link_to 'Edit', edit_survey_file_path(@survey_file) %> |
<%= link_to 'Back', survey_files_path %> |
<%= link_to 'Next >>', :id => (@survey_file.id+1) %>
