<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions -->
<title>Land Info Database</title>

<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="dcterms.description" content="English description / Description en anglais" />
<meta name="description" content="English description / Description en anglais" />
<meta name="keywords" content="English keywords / Mots-clés en anglais" />
<meta name="dcterms.creator" content="English name of the content author / Nom en anglais de l'auteur du contenu" />
<meta name="dcterms.title" content="English title / Titre en anglais" />
<meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)" />
<meta name="dcterms.modified" title="W3CDTF" content="Date modified (YYYY-MM-DD) / Date de modification (AAAA-MM-JJ)" />
<meta name="dcterms.subject" title="scheme" content="English subject terms / Termes de sujet en anglais" />
<meta name="dcterms.language" title="ISO639-2" content="eng" />

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>

<body><div id="cn-body-inner-1col">
<div id="cn-skip-head">
<ul id="cn-tphp">
<li id="cn-sh-link-1"><a href="#cn-cont">Skip to main content</a></li>
<li id="cn-sh-link-2"><a href="#cn-nav">Skip to footer</a></li>
</ul>
</div>

<div id="cn-head"><div id="cn-head-inner"><header>
<!-- HeaderStart -->
<nav role="navigation"><div id="cn-gcnb"><h2>Government of Canada navigation bar</h2><div id="cn-gcnb-inner"><div id="fip-pcim-gcnb">
<div id="cn-sig"><div id="cn-sig-inner"><div id="fip-pcim-sig-eng" title="Government of Canada"><img src="/images/sig-eng.gif" width="214" height="20" alt="Government of Canada" /></div></div></div>
<ul>
<li id="cn-gcnb1"><a rel="external" href="http://www.canada.gc.ca/home.html">Canada.gc.ca</a></li>
<li id="cn-gcnb2"><a rel="external" href="http://www.servicecanada.gc.ca/eng/home.shtml">Services</a></li>
<li id="cn-gcnb3"><a rel="external" href="http://www.canada.gc.ca/depts/major/depind-eng.html">Departments</a></li>
<li id="cn-gcnb-lang"><a href="/francais" lang="fr">Français</a></li>
</ul>
</div></div></div></nav>

<div id="cn-banner" role="banner"><div id="cn-banner-inner">
<div id="cn-wmms"><div id="cn-wmms-inner"><div id="fip-pcim-wmms" title="Symbol of the Government of Canada"><img src="/images/wmms.gif" width="126" height="30"  alt="Symbol of the Government of Canada" /></div></div></div>
<div id="cn-site-title"><p id="cn-site-title-inner"><a href="/">Pacific Region Geomatics<br />Land Info Database</a></p></div>

<% if active_scaffold_config.present? %>
<section role="search"><div id="cn-search-box"><h2>Search</h2>
<%= render :partial => 'search' %>
</div></section>
<% end %>
</div></div>

<% if signed_in? %>
<nav role="navigation">
<div id="cn-psnb"><h2>Site navigation bar</h2><div id="cn-psnb-inner"><div class="wet-boew-menubar"><div>
<ul class="mb-menu">
<li><div><a href="/survey_files">Survey Files</a></div></li>
<li><div><a href="/marine_files">Marine Files</a></div></li>
<li><div><a href="/locations">Locations</a></div></li>
<li><div><a href="/surveyors">Surveyors</a></div></li>
<li><div><%= link_to "Logout", destroy_user_session_path, :method => :delete %></div></li>
</ul>
</div></div></div></div>
</nav>
<% end %>
<!-- HeaderEnd -->
</header></div></div>

<div id="cn-cols"><div id="cn-cols-inner" class="equalize">
<div id="cn-centre-col" role="main"><div id="cn-centre-col-inner">
<!-- MainContentStart -->
<%= yield %>
<div class="clear"></div>
<!-- MainContentEnd -->
</div></div>
</div></div>

<div id="cn-foot"><div id="cn-foot-inner"><footer><h2 id="cn-nav">Footer</h2>
<!-- FooterStart -->
<nav role="navigation"><div id="cn-sft"><h3>Site footer</h3><div id="cn-sft-inner">
<div id="cn-ft-tctr">
<ul>
<li class="terms"><a href="http://www.tpsgc-pwgsc.gc.ca/comm/ai-in-eng.html" rel="license">Terms and conditions</a></li>
<li class="trans"><a href="http://www.tpsgc-pwgsc.gc.ca/proactive/index-eng.html">Transparency</a></li>
</ul>
</div>
<div class="clear"></div>
</div></div></nav>

<nav role="navigation"><div id="cn-gcft"><h3>Government of Canada footer</h3><div id="cn-gcft-inner"><div id="fip-pcim-gcft">
<ul>
<li><a rel="external" href="http://healthycanadians.gc.ca/index-eng.php"><span>Health</span><br />healthycanadians.gc.ca</a></li>
<li><a rel="external" href="http://www.voyage.gc.ca/index-eng.asp"><span>Travel</span><br />travel.gc.ca</a></li>
<li><a rel="external" href="http://www.servicecanada.gc.ca/eng/home.shtml"><span>Service Canada</span><br />servicecanada.gc.ca</a></li>
<li><a rel="external" href="http://www.jobbank.gc.ca/intro-eng.aspx"><span>Jobs</span><br />jobbank.gc.ca</a></li>
<li><a rel="external" href="http://actionplan.gc.ca/eng/index.asp"><span>Economy</span><br />actionplan.gc.ca</a></li>
<li id="cn-ft-ca"><div><a rel="external" href="http://www.canada.gc.ca/home.html">Canada.gc.ca</a></div></li>
</ul>
</div></div></div></nav>
<!-- FooterEnd -->
</footer></div></div>
</div></body>
</html>
